In [1]:
import pandas as pd
from scipy import stats

import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv("experiment_lesson_4.csv")

In [6]:
# check null values
df.isna().sum()

order_id            0
delivery_time       0
district            0
experiment_group    0
dtype: int64

In [8]:
# check shape
df.shape

(20196, 4)

In [10]:
# check dtypes
df.dtypes

order_id              int64
delivery_time       float64
district             object
experiment_group     object
dtype: object

In [11]:
# check head
df.head()

   order_id  delivery_time  district experiment_group
0      3159           44.0  Purlieus          control
1     10426           51.0  Purlieus          control
2      9155           46.0  Purlieus          control
3     10699           34.0  Purlieus          control
4     10061           43.0  Purlieus          control