In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [54]:
# request for information about an object
def find_info(ids_list, column_titles):

    data = []

    for i in ids_list:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
        obj_test = r_test.json()
        list_to_add = []
        try:
            for j in columns_names:
                list_to_add.append(obj_test[j])
            data.append(list_to_add)
        except:
            pass
    df = pd.DataFrame(data,columns=columns_names)
    return df

In [15]:
# Search for "sunflowers"
# Select the id of the objects that are present in the resulting list: [2032, 20149, 437329, 16822570, 436524]
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()
target_list = [2032, 20149, 437329, 16822570, 436524]
for i in target_list:
    if i in res['objectIDs']:
        print(i, end=' ')

2032 437329 436524

In [16]:
# Run a query for object 437980, get a description of the object
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')
obj_test = r_test.json()

In [55]:
# Collect information about objects. Write the results to a dataframe
sunflowers_id = res['objectIDs']

columns_names = ['objectID', 'title', 'artistDisplayName', 'department', 
                 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']

df = find_info(sunflowers_id, columns_names)

In [56]:
# How many objects belong to Japanese culture?
df[df.culture == 'Japan']

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
29,57922,Incense box,,Asian Art,1700,1799,Edo period (1615–1868),Incense box,Japan

In [60]:
# Search for the department "Asian art" (departmentId = 6) with the tag "cat" and write the object ids to cat_ids
# Get data about the first 1000 objects from the list
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

cat_ids = cats['objectIDs']
sub_cat_ids = cat_ids[:5]

columns_names = ['objectID', 'title', 'artistDisplayName', 'department', 
                 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']

df_cats = find_info(cat_ids[:1000], columns_names)
df_cats.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,49698,Cat,Zhang Yuguang,Asian Art,1900,1968,,Folding fan mounted as an album leaf,China
1,49470,Cat,Wang Li,Asian Art,1813,1879,Qing dynasty (1644–1911),Hanging scroll,China
2,53222,Musk Cat,Uto Gyoshi,Asian Art,1550,1599,Muromachi period (1392–1573),Hanging scroll,Japan
3,36221,Cat,Wang Yun,Asian Art,1900,1933,,Hanging scroll,China
4,60873,Burial Crown,,Asian Art,960,1279,Song dynasty (960–1279) or later,Burial crown,China

In [70]:
# In what period was the largest number of works presented in the museum completed?
df_cats.groupby('period', as_index=False).agg({'objectName': 'count'}).sort_values('objectName', ascending=False).head(1)

                    period  objectName
16  Edo period (1615–1868)         441